@use "@styles/globals.module.scss";

.inlineFacets {
    .filterHeader {
        button {
            float: right;
        }
    }
    hr {
        clear: both;
    }
    display: none;
    padding: 16px;
    margin-bottom: 16px;
    @media (max-width: 890px) {
        display: block;
    }
}
