@use "@styles/globals.module.scss";

.relatedProducts {
    margin-top: var(--padding);
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
    .relatedProduct {
        width: 256px;
        position: relative;
        img {
            margin-bottom: var(--paddingXS);
        }
        :global(.deleteBtn) {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 999;
        }
    }
}