@use "@styles/globals.module.scss";

.userOrderList {
    .selected {
        font-weight: bold;
        color: var(--primaryColor);
        background-color: var(--bgLightColor);
    }
    h1 {
        display: inline;
    }
}