@use "@styles/globals.module.scss";

.cart {
    max-width: 768px;
    margin: auto;
    @media (max-width: 780px) {
        width: 100%;
        padding: globals.$padding;
    }
    .thumbnail {
        margin: -14px -14px -18px -12px;
    }
    .priceContainer {
        float: right;
    }
    .productName {
        float: left;
    }
    .cartFooter {
        text-align: right;
        font-weight: bold;
    }
    .cartActions {
        margin-top: globals.$padding;
        text-align: right;
        > * {
            display: inline-block;
            max-width: 256px;
        }
    }
}