@use "@styles/globals.module.scss";

.productPage {
    max-width: 1024px;
    margin: auto;
    padding: var(--padding);
    padding-bottom: 128px;
    .media, .productInfo {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        @media (max-width: 780px) {
            width: 100%;
        }
    }
    .productInfo {
        padding-left: var(--padding);
        .tags {
            > * {
                margin-bottom: var(--paddingSmall);
            }
        }
        @media (max-width: 780px) {
            padding: 0;
            margin-top: var(--padding);
        }
    }
    .cartInfo {
        :global(.ant-tag) {font-size:medium;}
        button {
        }
        .cartPrice {
            > span {
                padding: var(--paddingSmall);
            }
        }
    }
}