@use "@styles/globals.module.scss";

.backstagePass {
    p {
        display: block;
        margin: globals.$padding 0;
    }
    .topInfo {
        @include globals.infoBlock;

        background-color: globals.$brand-bg-light;
        clip-path:ellipse(1024px 100% at 50% 0%);
        padding-bottom: 2em;
    }


    .about {
        @include globals.infoBlock;
    }
}