@use "@styles/globals.module.scss";

.backstagePass {
    @include globals.cmsPage;

    .subscriptionOptions {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
        .subscriptionOption {
            text-align: center;
            flex-grow: 1;
        }
    }
}