@use "@styles/globals.module.scss";

.orderDetails {
    padding: globals.$padding;
    .totals {
        text-align: center;
        font-weight: bold;
    }
    img {
        width: 84px;
        margin: -10px -10px -18px -10px;
    }
}