@use "@styles/globals.module.scss";

.productList {
    clear: both;
    padding: 0;
    &.columnsFive > * {
        width: calc(20%);
    }
    &.columnsFour > * {
        width: calc(25%);
    }
    &.columnsThree > * {
        width: calc(33.3333%);
    }
    &.columnsTwo > * {
        width: calc(50%);
    }
    &.columnsOne > * {
        width: calc(100%);
    }            
}
