@use "@styles/globals.module.scss";

.productList {
    clear: both;
    padding: 0;
    &.columnsFive > * {
        width: calc(20% - var(--padding) * 2);
    }
    &.columnsFour > * {
        width: calc(25% - var(--padding) * 2);
    }
    &.columnsThree > * {
        width: calc(33.3333% - var(--padding) * 2);
    }
    &.columnsTwo > * {
        width: calc(50% - var(--padding) * 2);
    }
    &.columnsOne > * {
        width: calc(100% - var(--padding) * 2);
    }            
}
