@use "@styles/globals.module.scss";

.productListContainer {
    margin: globals.$padding;
    .productList {
        padding: globals.$padding 0;
        > * {
            width: calc(25% - globals.$padding * 2);
            @media (max-width: 1600px) {
                width: calc(33.33% - globals.$padding * 2);
            }
            @media (max-width: 1200px) {
                width: calc(50% - globals.$padding * 2);
            }
            @media (max-width: 800px) {
                width: calc(100% - globals.$padding * 2);
            }
        }
    }
}

.orderSelect {
    width: 150px;
    float: right;
    > * {
        width: 100%;
    }
}