@use "@styles/globals.module.scss";

.productsPage {
    padding-bottom: 64px;
    .sider {
        @media (max-width: 890px) {
            display: none;
        }
    }

    .productListContainer {
        background-color: var(--contentBg);
        padding: var(--padding);
    }
}