@use "@styles/globals.module.scss";

.tagGroupList {
    margin: globals.$padding-sm;
    .tagList {
        display: flex;
        flex-wrap: wrap;
        gap: globals.$padding-xs;
        > * {
            display: inline-block;
            min-width: 128px;
            text-align: center;
        }
    }
}

.selectedTagList {
    margin: globals.$padding;
}

.productListContainer {
    margin: globals.$padding;
    .productList {
        padding: globals.$padding 0;
        display: flex;
        flex-wrap: wrap;
        gap: globals.$padding;
        > * {
            margin: 0;
            flex-grow: 1;
            max-width: 378px;
        }
    }
}

.orderSelect {
    width: 150px;
    float: right;
    > * {
        width: 100%;
    }
}