@use "@styles/globals.module.scss";

p {
    margin: 0;
    display: inline-block;
    padding-right: globals.$padding-sm;
    &.onSale {
        color: var(--warningColor);
        text-decoration: line-through;
    }
    &.salePrice {
        font-weight: bold;
        font-style: italic;
    }
}