@use "@styles/globals.module.scss";

.miniProduct {
    padding: 16px;
    border-radius: 16px;
    img {
        float: left;
        width: 64px;
        margin-right: 16px;
    }
    button {
        float: right;
    }
}