@use "@styles/globals.module.scss";

.miniProduct {
    background-color: var(--bgColor);
    padding: globals.$padding-sm;
    border-radius: globals.$border-radius;
    border: solid 1px var(--borderColor);
    img {
        float: left;
        width: 64px;
        margin-right: globals.$padding;
    }
    button {
        float: right;
    }
}