@use "@styles/globals.module.scss";

.productFileDownloadBtn {
    width: 100%;
    text-overflow: ellipsis;
    span {
        width: 100%;
        display: block;
        text-align: left !important;
    }
    margin-bottom: var(--paddingSmall);
}