@use "@styles/globals.module.scss";

.mediaSwitcher {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    .navBtn {
        position: absolute;
        top: 50%;
        font-size: 32px;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        z-index: 999;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
        &.prev {
            left: 0;
        }
        &.next {
            right: 0;
        }
    }
    .mediaImage {
        display: none;
        &.active {
            display: block;
        }
    }
}
.thumbs {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    .thumb {
        width: 64px;
        min-width: 64px;
        max-width: 64px;
        border: 2px solid transparent;
        transition: border-color 0.3s;
        overflow: hidden;
        &:hover {
            border-color: var(--primaryColor);
        }
        &.active {
            border-color: var(--primaryColor);
        }
    }
}