@use "@styles/globals.module.scss";

.productMediaList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
    margin-bottom: var(--padding);
    .mediaItem {
        position: relative;
        img {
            width: 256px;
        }
    }
}