@use "@styles/globals.module.scss";

.productMediaList {
    display: flex;
    flex-wrap: wrap;
    gap: globals.$padding;
    margin-bottom: globals.$padding;
    img {
        width: 256px;
    }
}