@use "@styles/globals.module.scss";

.productMediaList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
    margin-bottom: var(--padding);
    img {
        width: 256px;
    }
}